<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dashboard - Gestão de Conteúdos</title>
  <link href="/https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" th:href="@{/css/dashboard.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script src="/https://unpkg.com/lucide@latest"></script>
  <script th:src="@{/js/script.js}" defer></script>

</head>
<body>
<div th:replace="~{frangment/fragment :: navebar}"></div>

  <header>
    <h1>Dashboard</h1>
    <p>Bem-vindo de volta! Gerencie seus conteúdos aqui.</p>
  </header>

  <main class="dashboard">
    <h2>Visão Geral</h2>
    <div class="cards">
      <div class="card">
        <i data-lucide="calendar" width="32" height="32"></i>
        <div class="card-content">
          <h3>Conteúdos Agendados</h3>
          <p><span th:text="${numconteudo}"></span> posts prontos para publicação.</p>
        </div>
      </div>
      <div class="card">
        <i data-lucide="clock" width="32" height="32"></i>
        <div class="card-content">
          <h3>Tarefas Pendentes</h3>
          <p><span th:text="${numTarefas}"></span> tarefas aguardando conclusão.</p>
        </div>
      </div>
      <div class="card">
        <i data-lucide="credit-card" width="32" height="32"></i>
        <div class="card-content">
          <h3>Status da Assinatura</h3>
          <p th:text="'Plano válido até ' + ${#temporals.format(validadePlano, 'dd/MM/yyyy')}"></p>
        </div>
      </div>
      <div class="card">
        <i data-lucide="credit-card" width="40" height="32"></i>
        <div class="card-content">
          <h3>Publicações activas</h3>
          <p>Monitore todas as suas publicações e não perca nada.</p>
          <p>Tens 5 publicações activas.</p>
        </div>
      </div>
            
    </div>

  </main>

 <div th:replace="~{frangment/fragment :: footer}"></div>

  <script>
    lucide.createIcons();
  </script>
</body>
</html>
