<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<nav th:fragment="navebar">
    <ul>
        <li><a th:href="|@{/dashboard?us}=${user}|">Dashboard</a></li>
        <li><a th:href="|@{/tarefa/get?us}=${user}|">Tarefas</a></li>
        <li><a th:href="|@{/midia?us}=${user}|">Mídia</a></li>
        <li><a th:href="@{/}">Home</a></li>
    </ul>
</nav>


  <footer class="bg-dark text-white text-center py-3" th:fragment="footer">
    © 2025 Sistema de Gestão de Conteúdos. Todos os direitos reservados.
  </footer>

</body>
</html>